* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.title {
    color: rgb(255, 255, 255);
    width: 240px;
}

.main {
    margin-bottom: 100px;
}

.main-enter {
    margin: 10px auto;
    box-shadow: 0 0 20px rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 16px;
}

.content {
    margin: 10px auto;
    width: 100%;
    text-align: center;
    /* background: linear-gradient(0, #ccc, #fff, #ccc); */
    background-image: url("https://taigameionline.vn/wp-content/uploads/2021/11/Huong-dan-giai-ma-quy-luat-tai-xiu-chinh-xac-chi-trong-vai-phut-.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    /* background-image: url("/images/bg-taixiu.jpg"); */
    box-shadow: 0 0 40px rgb(6, 255, 81);
    border-radius: 30px;
}

#img-dice {
    width: 160px;
    height: 160px;
    border-radius: 24px;
}

.btn-nem {
    background-image: linear-gradient(to right, #D31027 0%, #EA384D 51%, #D31027 100%);
    border: none;
    width: 80px;
    height: 80px;
    /* text-align: center; */
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 50%;
    font-size: 13.8px;
    letter-spacing: 1px;
    outline: none;
    cursor: pointer;
    font-weight: 600;
}

.btn-nem:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: rgb(255, 0, 0);
    text-decoration: none;
}

.img-footer {
    border-radius: 30px;
    width: 100%
}